.video-player-container {
    display: flex;
}

.original-video-container , .clone-video-container {
    height: 300px;
    width: 500px;
    text-align: center;
}

.info-container {
    text-align: center;
    
}

.original-video-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-container {
    position: relative;
    height: 300px;
    width: 500px;
}

.canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.button-container {
    display: flex;
    justify-content: center;
}


/* Wall video styling */

.wall-video-player-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    padding: .8rem 0;
    border-radius: 25px;
    background: #ebebeb;
    box-shadow:  -41px 41px 82px #cccccc,
                 41px -41px 82px #f4f4f4;

}

.wall-overall-container {
    width: 38vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

}

.wall-video-container {
    width: 38vw;
    display: flex;
    justify-content: space-evenly;
    
}

.wall-video-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.remove-wall-video-button {
    margin-bottom: .5rem;
}