.video-player-container {
    display: flex;
}

.original-video-container , .clone-video-container {
    height: 300px;
    width: 500px;
    text-align: center;
}

.info-container {
    text-align: center;
    
}

.original-video-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-container {
    position: relative;
    height: 300px;
    width: 500px;
}

.canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.button-container {
    display: flex;
    justify-content: center;
}